<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Bitrise</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">Integrations</a>
      <a class="nav-item nav-link" href="#">Pricing</a>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Features
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Workflow Editor</a>
          <a class="dropdown-item" href="#">iOS features</a>
          <a class="dropdown-item" href="#">Android features</a>
          <a class="dropdown-item" href="#">Cross-platform features</a>
          <a class="dropdown-item" href="#">Bitrise Deployment</a>
          <a class="dropdown-item" href="#">CLI</a>
        </div>
      </li>
      <a class="nav-item nav-link" href="#">Docs</a>
      <a class="nav-item nav-link" href="#">Blog</a>
      <a class="nav-item nav-link" href="#">Login</a>
      <a class="nav-item nav-link" href="#"><button>Sign Up</button></a>
    </div>
  </div>
</nav>