.bg-light {
  background: linear-gradient(135deg,#990fc3 0,#760fc3 16%,#652ec3 52%,#652ec3 52%,#0dd3c5 100%,#7db9e8 100%);
  color: white;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.btn-secondary {
  background-color: white;
  color: black;
}